<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Cvrkutalo</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    @Scripts.Render("~/bundles/angular2")
</head>
<body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav" id="main-navbar-menu">
                    <li class="main-navbar-menu-item"> <a href="@Url.Action("Index", "Home")"> <h4>Home  <span class="glyphicon glyphicon-home" /></h4> </a></li>
                    <li class="main-navbar-menu-item"> <a href="@Url.Action("Profile", "Home")"><h4>Profile   <span class="glyphicon glyphicon-user" /></h4></a></li>
                    <li class="main-navbar-menu-item"> <a href="@Url.Action("Favourites", "Home")"><h4>Favourites   <span class="glyphicon glyphicon-star" /></h4></a></li>
                    <li class="main-navbar-menu-item"> <a href="@Url.Action("Following", "Home")"><h4>Following   <span class="glyphicon glyphicon-heart" /></h4></a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <span><a href="@Url.Action("Profile", "Home")"><img src="~/Content/Users/User1.png" class="user-image" alt="user picture" /></a></span>
                    </li>
                    <li class="main-navbar-menu-item" id="new-tweet"> <a href="#"> <h4 id="new-tweet-text">Tweet  <span class="glyphicon glyphicon-pencil" /></h4> </a></li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container body-content">
        <a href="@Url.Action("Hashtag", "Home")"><h4>Hashtag view</h4></a>
        @RenderBody()
    </div>
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>

</body>
</html>
